/**
 * 新加带图片确认框的样式
 */
.mui-popup-inner .mui-popup-confirm-image{
	position: relative;
	height: 230px;
	width: 230px;
	margin: 0 auto;
}
.mui-popup-inner .mui-popup-confirm-image img{
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-height: 230px;
	max-width: 230px;
}

/**
 * 只有图片和取消按钮的弹框
 */
.mui-popup-inner .mui-popup-alert-image{
	position: relative;
	height: 230px;
	width: 230px;
	margin: 0 auto;
}

.mui-popup-inner .mui-popup-alert-image img{
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-height: 230px;
	max-width: 230px;
}

.mui-popup-inner .mui-popup-alert-image-button{
	height: 20px;
	width: 20px;
	margin-top: 10px;
}

.mui-popup .mui-popup-inner-image-alert{
	background-color: transparent !important;
}
.mui-popup  .mui-popup-inner-image-alert:after {
	height: 0px;
}

/**
 * 带图片选择弹框的样式
 */
.mui-popup-inner .mui-popup-confirm-image-select{
	position: relative;
	width: 240px;
	padding: 15px 0px;
	text-align: center;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling:touch !important;
}
.mui-popup-inner .mui-popup-image-select{
	margin-left: 3px;
	margin-right: 3px;
	max-width: 114px;
	display: inline-block;
}

.mui-popup-inner .mui-popup-image-select img{
	max-height: 250px;
	max-width: 114px;
	border-radius: 5px;
}
.mui-popup-inner .mui-input-row {
   height: initial;
}
.mui-popup-inner .mui-popup-confirm-image-select .mui-radio input[type=radio] {
	position: initial;
}
.mui-popup-inner .mui-popup-confirm-image-select .mui-radio input[type=radio]:before{
	content: '\e411';
}
.mui-popup-inner .mui-popup-confirm-image-select .mui-radio input[type=radio]:checked:before{
	content: '\e442';
	color: #469237;
}